<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICountSubstring" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1234/count" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ICountSubstring" contract="ICountSubstring"
          name="BasicHttpBinding_ICountSubstring" />
    </client>
  </system.serviceModel>
</configuration>